{% extends 'base.html.twig' %}

{% block title %}Liste des Stagiaires{% endblock %}

{% block body %}
<main>
 {% for stagiaire in stagiaires %}
 <article>
  <h4>{{stagiaire}}</h4>
  <p>mail: {{stagiaire.email}}</p>
  <p>tel: {{stagiaire.tel}}</p>
  <p>ville: {{stagiaire.ville}}</p>
  <p>date de naissance: {{stagiaire.datenaissance | date('d/m/Y')}}</p>
  <p>sexe: {{stagiaire.sexe}}</p>

  <div class="sessions-list">
    <article>
      <!-- cant access session title -->
      {% for session in stagiaire.sessions %}
        <p>Du {{ session.dateDebut | format_datetime('long', 'none', locale='fr') }} au {{ session.dateFin | format_datetime('long', 'none', locale='fr')}}</p>
        <h4>{{ session.titre}} </h4>
      {% endfor %}
    </article>
  </div>
 </article>
 <hr>
 {% endfor %}
 <a href="{{ path('add_stagiaire') }}">Ajouter un stagiaire</a>
</main>
{% endblock %}

