{% extends 'base.html.twig' %}

{% block title %}Liste des Stagiaires{% endblock %}

{% block body %}
<header class="title">
  <h2>Liste des stagiaires</h2>
</header>
<main>
  <div class="interns-list">
    {% for stagiaire in stagiaires %}
    <div class="interns-details">
      <article>
        <a href="{{path('show_stagiaire', {'id': stagiaire.id})}}">
          <h4>{{stagiaire}}</h4>
        </a>
        <p>mail: {{stagiaire.email}}</p>
        <p>tel: {{stagiaire.tel}}</p>
        <p>ville: {{stagiaire.ville}}</p>
        <p>date de naissance: {{stagiaire.datenaissance | date('d/m/Y')}}</p>
        <p>sexe: {{stagiaire.sexe}}</p>
      </article>

      <div class="sessions-list">
        {% for session in stagiaire.sessions %}
        <div class="session">
        <a href="{{path('show_session', {'id': session.id})}}">
        <article>
          <p class="date">Du {{ session.dateDebut | format_datetime('long', 'none', locale='fr') }} au {{
            session.dateFin | format_datetime('long', 'none', locale='fr')}}</p>
          <h4 class="module-name">{{ session.titre}} </h4>
        </article>
        </a>
      </div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
  <a id="intern-btn" class="add-btn btn" href="{{ path('add_stagiaire') }}">Ajouter un stagiaire</a>
</main>

{% endblock %}