{% extends 'base.html.twig' %}

{% block title %}Detail de la session{% endblock %}

{% block body %}
<header class="title">
  <div class="date">
    A partir du {{ session.dateDebut | format_datetime('long', 'none', locale='fr') }}
  </div>
  <h2>{{session.titre}}</h2>
</header>
<main>
  {% if session.programmes is not empty %}

  <div class="modules-list">
    {% set categorie = ''%}
    {% for programme in session.programmes | sort((a, b) => a.module.categorie.id <=> b.module.categorie.id) %}
        {% if programme.module.categorie.id == categorie%}
        <ul role="list" class="modules">
          <button class="danger">
            <a href="{{path('del_session_prog', {'idSe': session.id,'idPr': programme.id }) }}">-</a>
          </button>
          <li>{{ programme.module }} : {{programme.nbJours}} jours</li>
        </ul>
        {% else %}
        <h4 class="categorie">{{programme.module.categorie}}</h4>
        <ul role="list" class="modules">
          <button class="danger"><a
              href="{{path('del_session_prog', {'idSe': session.id,'idPr': programme.id }) }}">-</a></button>
          <li>{{ programme.module }} : {{programme.nbJours}} jours</li>
        </ul>
        {% set categorie = programme.module.categorie.id %}
        {% endif %}
      {% endfor %}
  </div>
  {% else %}
  <p>La session ne possède pas de modules.</p>
  {% endif %}
  {% if nonProgrammes is not empty %}
  <table class="table-dark table-striped">
    <thead>
      <tr>
        <th>Module</th>
        <th>Durée</th>
        <th>Programmer</th>
      </tr>
    </thead>
    <tbody>
      {% for module in nonProgrammes %}
      <tr>
        <td>{{ module }}</td>
        <form method="POST" action="{{ path('add_session_module', {'idSe': session.id,'idMo': module.id }) }}">
          <td><input type="number" min="1" id="nbJours" name="nbJours" size="2" />jours</td>
          <td><button type="submit" name="submit" class="add-btn">ajouter</button></td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

  <div class="stagiaires-registered">
    {% for message in app.flashes('error') %}
    <div class="flash-notice">
        {{ message }}
    </div>
    {% endfor %}
    <article>
      <h4>Stagiaires inscrits</h4>
      {% for stagiaire in session.stagiaires %}
      <ul role="list" class="modules">
        <button class="danger "><a
            href="{{path('del_session_stagiaire', {'idSe': session.id, 'idSt': stagiaire.id} )}}">-</a></button>
        <li><a href="{{path('show_stagiaire', {'id': stagiaire.id})}}">{{stagiaire}}</a></li>
      </ul>
      {% endfor %}
    </article>
  </div>
  <div class="stagiaires-non-registered">
    <article>
      <h4>Stagiaires non inscrits</h4>
      {% for stagiaire in nonRegistered %}
      <ul role="list" class="modules">
        <button class="add-btn "><a
            href="{{path('add_session_stagiaire', {'idSe': session.id, 'idSt': stagiaire.id} )}}">+</a></button>
        <li><a href="{{path('show_stagiaire', {'id': stagiaire.id})}}">{{stagiaire}}</a></li>
      </ul>
      {% endfor %}
    </article>
  </div>
</main>
{% endblock %}