{% extends 'base.html.twig' %}

{% block title %}Detail de la session{% endblock %}

{% block body %}
<main>
  <p>A partir du {{ session.dateDebut | format_datetime('long', 'none', locale='fr') }}</p>
  <h1>{{session.titre}}</h1>
  {% if session.programmes is not empty %}

    <div class="modules-list">
      {% set break = false %}
      {% for categorie in categories %}
      {% if not break %}
      <article>
        <h4>{{categorie}}</h4>
        <hr>
        {% for programme in session.programmes %}
          {% if categorie == programme.module.categorie %}
            <ul>
                  <li>{{ programme.module }}</li>
            </ul>
          {% endif %}
        {% endfor %}
        </article>
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <p>La session ne possède pas de modules.</p>
  {% endif %}
  <button>Ajouter un module</button>


  <br>
  <div class="stagiaires">
    <article>
      <h4>Stagiaires inscrits</h4>
      {% for stagiaire in session.stagiaires %}
      <ul>
        <li>{{stagiaire}}</li><button class="btn-delete">supprimer</button>
      </ul>
      {% endfor %}
    </article>
    <button class="btn-delete">inscrire un stagiaire</button>
  </div>
</main>
{% endblock %}