{% extends 'base.html.twig' %}

{% block title %}Hello ModuleController!{% endblock %}

{% block body %}
<header class="title">
  <h2>Liste des Modules</h2>
</header>
<main>
  <a id="intern-btn" class="add-btn btn" href="{{path('add_module')}}">+ Ajouter</a>
  <div class="modules-list">

    {% for categorie in categories%}
    {% if categorie.modules is not empty %}
    <h4 class="categorie">{{ categorie }}</h4>
    <ul role="list">
      {% for module in modules %}
      {% if(categorie.id == module.categorie.id ) %}
      <div class="edit-del">
      <li class="list-name">{{module.nom}}</li>
        {% for formateur in module.formateurs %}
        <p>Formateurs sur le module : {{formateur}}</p>
        {% endfor %}
        <a class="edit btn" href="{{ path('edit_module', {'id':module.id}) }}">edit</a> <a class="danger btn" href="{{ path('del_module', {'id':module.id}) }}">supprimer</a>
      </div>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
    </div>

</main>
{% endblock %}