<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('scss/style.css') }}">
  {% endblock %}

  {% block javascripts %}
  {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>

<body>
  <div class="wrapper">
    <nav>
      {% if app.user %}
      <div class="nav-left">
        <a href="{{ path('app_session') }}">G-sessions.DevCenter</a>
      </div>
      <div class="nav-right">
        <a href="{{ path('app_stagiaire') }} ">Stagiaires</a>
        <a href="{{ path('app_user') }} ">Formateurs</a>
        <a href="{{ path('app_module') }} ">Modules</a>
        <a href="{{ path('app_categorie') }} ">Categories</a>
        <button class="danger"><a href="{{ path('app_logout') }}">Logout</a></button>
      </div>
      {% else %}
      <a href="{{ path('app_home') }}">G-sessions.DevCenter</a>
      <button><a href="{{ path('app_register') }}">Inscription</a></button>
      {% endif %}
    </nav>
    {% block body %}
    {% endblock %}
    <br>
    <br>
    <br>
    <footer>
      <a href="#">À propos</a>
      <a href="#">Réglement</a>
    </footer>
  </div>
</body>

</html>