<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Welcome!{% endblock %}</title>
  <link rel="icon"
    href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
  {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
  {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('scss/style.css') }}">
  {% endblock %}

  {% block javascripts %}
  {{ encore_entry_script_tags('app') }}
  {% endblock %}
</head>

<body class="light">
  <div class="wrapper">
    <nav>
      {% if app.user %}
      <div class="nav-left">
        <a href="{{ path('app_session') }}">G-sessions.<span class="nav-title">DevCenter</span></a>
        {% if is_granted('ROLE_ADMIN') %}
        <span class="admin">[ADMIN]</span>
        {% endif %}
      </div>
      <div class="nav-right">
        {% if is_granted('ROLE_ADMIN') %}
        <a class="admin" href="{{ path('app_user') }} ">[Utilisateurs]</a>
        {% endif %}
        <a href="{{ path('app_stagiaire') }} ">Stagiaires</a>
        <a href="{{ path('app_module') }} ">Modules</a>
        <a href="{{ path('app_categorie') }} ">Categories</a>
        <a href="{{ path('app_formateur') }} ">Formateurs</a>
        <a class="btn danger" href="{{ path('app_logout') }}">Logout</a>
        </button>
        
      </div>
      <button class="btn-menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="active"
          style="width: 32px; height: 32px; transform: rotate(0deg);">
          <line x1="4.8" y1="9.6" x2="27.2" y2="9.6"></line>
          <line x1="27.2" y1="22.4" x2="4.8" y2="22.4"></line>
        </svg>
      </button>
      <button class="btn-close-menu">
        <svg xmlns="http://www.w3.org/2000/svg" class="active"
          style="width: 32px; height: 32px; transform: rotate(-45deg);">
          <line x1="16" y1="0" x2="16" y2="32" stroke="var(--color-text)" stroke-width="3" stroke-linecap="round">
          </line>
          <line x1="0" y1="16" x2="32" y2="16" stroke="var(--color-text)" stroke-width="3" stroke-linecap="round">
          </line>
        </svg>
      </button>
      {% else %}
      <a href="{{ path('app_home') }}">G-sessions.DevCenter</a>
      <a class="btn edit" href="{{ path('app_register') }}">Inscription</a>
      {% endif %}
    </nav>
    {% block body %}
    {% endblock %}
    <br>
    <br>
    <br>
    <footer>
      <a href="#">À propos</a>
      <a href="#">Réglement</a>
    </footer>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    
  <script src="{{asset('javascript/index.js')}}"></script>
</body>

</html>