{% extends 'base.html.twig' %}

{% block title %}List Users{% endblock %}

{% block body %}
<header class="title">
  <h2>Liste des utilisateurs</h2>
</header>
<main>
<div class="modules-list">

    {% for user in users%}
    <ul role="list">
      <li>{{user.pseudo}} ({{user.email}}) <a class="btn danger" href="{{path('user_del', {'id': user.id})}}">Delete</a></li>
      {% set r = '' %}
      {% for role in user.roles%}
        <p>{{role}}</p>
        {% if role == 'ROLE_ADMIN' %}
          {% set r = role %}
        {% endif %}
      {% endfor %}
      {% if r == 'ROLE_ADMIN' %}
        <a class="btn danger" href="{{path('unpromote_admin', {'id': user.id})}}">Cancel admin</a>
      {% else %}
        <a class="btn danger" href="{{path('promote_admin', {'id': user.id})}}">Promote admin</a>
      {% endif %}

    </ul>
    {% endfor %}

</div>
</main>
{% endblock %}
